* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

button {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.squares {
  display: block;
  width: fit-content;
}

.square {
  margin: 10px;
  border-radius: 20px;
  width: calc(50vw - 20px);
  height: calc(50vh - 20px);
	background-color: hsl(var(--hue), var(--sat), var(--light));
}

.row {
  display: flex;
}

.orange {
  --hue: 40;
  --sat: 60%;
  --light: 50%;
}

.blue {
  --hue: 240;
  --sat: 60%;
  --light: 50%;
}

.red {
  --hue: 0;
  --sat: 60%;
  --light: 50%;
}

.green {
  --hue: 120;
  --sat: 60%;
  --light: 50%;
}

.highlight {
  --sat: 100%;
  --light: 35%;
}

.logo {
  background: purple;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: max(11vw, 11vh);
  height: max(11vw, 11vh);
  margin: auto;
  border-style: solid;
  border-width: 0.5vh;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

.logo-under {
  background: white;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: max(14vw, 14vh);
  height: max(14vw, 14vh);
  border-radius: 100%;
}